.container {
    margin: 4em auto;
    padding: 2em;
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px black dashed;
}

.buttons {
    gap: .5em;
    margin-bottom: .5em;
}